* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: url(../assets/images/exterior/arial-wideshot-HigherOverWater-towardsHouse.png) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;  
}

.outer-container {
  position: absolute;
  top:50%;
  width: 100%;
  transform: translate( 0, -50%);
}

.inner-container {
  border: 2px solid darkslategray;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.808);
}

h1 {
  padding: 20px;
}
