* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;  
}

header {
  position: relative;
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(assets/images/exterior/arial-wideshot-HigherOverWater-towardsHouse.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1, header h3 {
  text-align: center;
  font-weight: lighter;
  color: white;
}
@media all and (min-width: 600px) {
  header {
    height: 30%;
    
  }
  header h1 {
    letter-spacing: 1px;
    font-size: 48px;
    padding-top: 3%;
  }
  header h3 {
    font-size: 36px;
    letter-spacing: 1px;
    padding-top: 50px;
  }
}

/* --- PRIMARY COLOR CONTROL ---*/

.welcome-grp, nav li:hover, .contact-form {
  background-color: darkslategray;
}

/* -- MODIFIERS ---- */
.hide {display: none;}
.color-text {color: darkslategray;}


/*---------  NAVIGATION STYLE START -------------*/
nav {
  padding: 10px 0 10px 0;
  margin:0;
  text-align: center;
}

nav {font-size: 16px;}

a {
  text-decoration: none; 
  color: darkslategray;
}

a:hover {color: whitesmoke;}

.menu-btn {
  position: absolute;
  left: 20px;
  bottom: 10px;
  background: transparent;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-bar {
  width: 35px;
  height: 5px;
  background-color: rgba(253, 253, 253, 0.705);
  margin:6px 0;
  border-radius: 5px;
}

.menu-options {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav li {
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  border: 1px solid darkslategray;
  margin-bottom: 8px;
}

button:hover {
  background-color:  rgb(238, 236, 229);
  color: darkslategray;
  border: 2px solid rgb(36, 35, 35);
}

li:hover {
  border: 2px solid whitesmoke;
}

@media all and (min-width: 600px) {
  .menu-options {
    max-width: 100%;
    margin-left: 0;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav li:not(:last-child) {
    margin-right: 10px;
  }
}
/*---------  NAVIGATION STYLE END -------------*/

/*--------- BLOCK QUOTE STYLE START -----------*/

.block-quote {
  display: flex;
  justify-content: center;
  margin: 10px 5% 0 5%;
}

.block-quote-content {
  border-radius: 8px;
  padding: 10px 20px;
}

.quote {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: darkslategray;
}

.quote-source {
  margin: 0;
  float: right;
  color: darkslategray;
  font-size: 10px;
}

@media all and (min-width: 600px) {
  .block-quote {
    margin: 30px 20%;    
  }

  .block-quote-content {
    max-width: 1000px;
  }
  
  .quote {
    font-size: 20px;
  }
  .quote-source {
    font-size: 14px;
    margin-top: 10px;
  }
}

/*--------- BLOCK QUOTE STYLE END -------------*/

/* ------- SLIDE SHOW STYLE START ----------- */
.container {
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 400px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* --- prev/next start ---- */
.slider .left-slide, .slider .right-slide {
  position: absolute;
  height: 50px;
  width: 40px;
  color:rgb(241, 237, 237);
  font-size: 24px;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  line-height: 20px;
}

.play-pause {
  position: absolute;
  color:white;
  border: solid 1px white;
  width: 60px;
  font-size: 10px;
  bottom: 15px;
  right: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.left-slide:hover { cursor: pointer;}
.right-slide:hover { cursor: pointer;}

.slider .left-slide {left: -5px;}
.slider .right-slide {right: -5px;}
/* --- prev/next end ---- */

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 400px;
  height: 250px;
}

/* --- automatic navigation --- */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 20px;
}

.navigation-auto div {
  border: 1px solid whitesmoke;
  padding: 3px;
  border-radius: 10px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {background-color: whitesmoke;}
#radio2:checked ~ .navigation-auto .auto-btn2 {background-color: whitesmoke;}
#radio3:checked ~ .navigation-auto .auto-btn3 {background-color: whitesmoke;}
#radio4:checked ~ .navigation-auto .auto-btn4 {background-color: whitesmoke;}
#radio5:checked ~ .navigation-auto .auto-btn5 {background-color: whitesmoke;}
#radio6:checked ~ .navigation-auto .auto-btn6 {background-color: whitesmoke;}


#radio1:checked ~ .first{margin-left:0;}
#radio2:checked ~ .first{margin-left:-20%;}
#radio3:checked ~ .first{margin-left:-40%;}
#radio4:checked ~ .first{margin-left:-60%;}
#radio5:checked ~ .first{margin-left:-80%;}
#radio6:checked ~ .first{margin-left:-100%;}

@media all and (min-width: 600px) {
  .slider {
    width: 800px;
    height: 500px;
  }

  .slide img {
    width: 800px;
    height: 500px;
  }

  .slider .left-slide, .slider .right-slide {font-size: 40px;}
  .slider .left-slide {left: 10px;}
  .slider .right-slide {right: 10px;}

  .navigation-auto div {
    border: 1px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
  }

  .play-pause {
    width: 120px;
    font-size: 14px;
    padding: 5px;
  }

}
/* ------- SLIDE SHOW STYLE END ------------- */

/*--------- STATS BAR STYLE START ------------*/
.stats {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 5%;
}

.stats-item {
  flex: 1;
  margin: 10px;
  padding: 0px 20px;
  text-align: center;
}

.stats-border {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 8px;
}

h4 {
  font-size: 14px;
  color: darkslategray;
  margin: 0 0 10px 0;
  padding-top: 15px;
}

.stats-type {
  font-size: 28px;
  font-weight: bolder;
  color: darkslategray;
  margin: 0;
  padding-bottom: 15px;
}

@media all and (min-width: 600px) {
  .stats-type {
    font-size: 36px;
    font-weight: bolder;
    color: darkslategray;
  }
  .stats { 
    margin: 10px 15% 20px 15%; 
    justify-content: center;
  }
  .stats-item {
    max-width: 250px;
  }
}
  
/*--------- STATS BAR STYLE END ------------*/

/*--------- WELCOME GRP STYLE START --------*/
.welcome-message h2 {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.welcome-message p {
  font-size: 16px;
  text-align: left;
  padding: 7px;
}

.welcome-grp {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}
 
.welcome-message {
   background-color: rgba(245, 245, 245, 0.034);
   border: 2px solid whitesmoke;
   padding-left: 5%;
   padding-right: 5%;
}

@media all and (min-width: 600px) {
  .welcome-message {
    margin: 20px 15%;
    padding: 10px;
    max-width: 1000px;
  }

  .welcome-message h2 {
    font-size: 32px;
  }
  .welcome-message p {
    font-size: 14px;
    padding-left: 7%;
    padding-right: 7%;
  }
}
/*--------- WELCOME GRP STYLE END ----------*/

/*--- SLEEPING ARRANGEMENTS START ----------*/
.bdrm-arrangements-container h2 {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.bdrm-content h4 {
  font-size: 14px;
  margin: 0;
  padding:0;
}

.bdrm-content p {
  font-size: 10px;
  margin:0;
}

.bdrm-arrangements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  border-bottom: 1px solid lightslategray;
}

.bedrooms {
  margin-top: 30px;
  display: flex;
  overflow-y: hidden;
}

.bdrm-content {
  padding:10px 10px;
  border: solid 1px lightslategray;
  border-radius: 5px;
  min-width: 120px;
}

.bdrm-content:not(:last-child) {
  margin-right: 10px;
}

.bdrm-content img {
  height: 30px;
  width: 30px;
}

.citation {
  margin-top: 25px;
  font-size: 8px;
}

@media all and (min-width: 600px) {
  .bdrm-arrangements-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
  }

  .bdrm-arrangements {
    align-self: center;
  }

  .bdrm-arrangements-container h2 {
    text-align: left;
    font-size: 22px;
  }

  .bdrm-content h4 {
    font-size: 16px;
  }
  
  .bdrm-content p {
    font-size: 14px;
  }

  .bdrm-content img {
    height: 50px;
    width: 50px;
  }

  .bdrm-content {
    min-width: 150px;
  }
}
/*--- SLEEPING ARRANGEMENTS END ----------*/

/*-- ACCOMODATIONS / ACTIVITIES STYLE START --*/
.house-details {
  margin: 20px 5% 60px 5%;
}

.title {
  border-bottom: 1px solid lightslategray;
  padding-top: 20px;
}

.title h2 {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.amenities-list ul, .activities-list ul, .safety-list ul {
  list-style: none;
  padding: 0 0 0 10px;
}

.amenities-list li, .activities-list li, .safety-list li {
  font-size: 16px;
  margin:0;
  padding: 5px;
}

@media all and (min-width: 600px) {
  .title h2 {
    text-align: left;
    font-size: 22px;
  }

  .amenities-list li, .activities-list li, .safety-list li {
    font-size: 16px;
  }

  .house-details {
    margin: 20px 15%;
    display: flex;
    justify-content: center;
    
  }

  .amenities, .activities {
    margin-right: 3%;
  }

  .amenities, .activities, .safety {
    flex: 1;
    max-width: 300px;
    padding-right: 10px;
  }

}

/*-- ACCOMODATIONS / ACTIVITIES STYLE END --*/


/*------- PIC GALLERY STYLE START ---------*/

.picture-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.picture-gallery .title {
  margin-left: 5%;
  margin-right: 5%;
}

.gallery-container {
  overflow-x: scroll;
  margin-top: 15px;
}

.gallery {
  display: flex;
}

.gallery img {
  margin-right: 5px;
  transition: 1s;
  border-radius: 8px;
  max-width: 230px;
  max-height: 230px;
}

/*--- ipad screen size --- */

@media all and (min-width: 601px) {
  .picture-gallery {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .gallery-container {
    height: 600px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    max-width: 220px;
    max-height: 220px;
  }

}

/* -- larger screens ---*/
@media all and (min-width: 900px) {
  .picture-gallery {
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .gallery img {
    max-width: 250px;
    max-height: 250px;
  }
  
}
/*---------- PIC GALLERY STYLE END -----------*/

/* ------- RATE INFORMATION STYLE START ----- */
.price-information {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 60px;
}
.rates h2 {
  font-size: 20px;
  font-weight: lighter;
}

.season-title h4 {
  margin: 0;
  font-size: 18px;
}

.season-price-details p, .extra-fees-details p {
  font-size: 16px;
}

.catagory-title {
  border-bottom: 1px solid darkslategray;
  text-align: center;
}

.price-seasons-grp {
  display: flex;
  flex-direction: column;
  margin: 20px 3%;
}

.season-detail-item {
  flex: 1;
  margin-bottom: 15px;
}

.season-title {
  border-bottom: 1px solid darkslategray;
  text-align: center;
}

.extra-fees {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(94, 94, 94);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 3%;
  margin-right: 3%;
}

.extra-fees-title {
  margin-right: 5px;
  text-align: right;
}

.extra-fees-details {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.extra-fees-details p {
  flex: 1;
  margin: 2px 0 0 5px;
}

/*-- Media Queries --*/
@media all and (min-width: 600px) {
  .price-information {
    margin: 20px 15% 60px 15%;
    display: flex;
    justify-content: center;
  }
  
  .rates h2 {
    font-size: 24px;
    text-align: left;
  }

  .rates h4 {
    font-size: 18px;
  }
  .rates p {
    font-size: 16px;
  }

  .catagory-title {
    text-align: left;
  }

  .season-title {
    text-align: left;
  }

  .price-seasons-grp {
    display: flex;
    flex-direction: row;
  }

  .season-detail-item {
    flex: 1;
    margin-top: 20px;
  }

  .extra-fees-title h4 {
    margin: 0;
  }

  .extra-fees-details {
    flex-direction: row;
  }

  .season-detail-item:not(:last-child) {
    margin-right: 25px;
  }
}
/*------- RATE INFORMATION STYLE END ------- */

/*---------- FINE PRINT STYLE START --------*/
.fine-print {
  margin: 20px 5%;
}

.title {
  border-bottom: 1px solid darkslategray;
}

.fine-print ul {
  list-style: none;
  padding: 0 0 0 10px;
}

.fine-print li {
  padding: 5px;
  margin:0;
  font-size: 12px; 
}

@media all and (min-width: 600px) {
  .fine-print li {
    font-size: 16px;
  }

  .fine-print {
    margin: 20px 15% 100px 15%;
  }
}

/*---------- FINE PRINT STYLE END --------*/

/*---------- CONTACT FORM STYLE START --------*/
.contact-form h3{
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: lighter;
}

label {
  color: white;
  font-size: 16px;
}

.contact-form {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.form-container {
  width: 90%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 20px;
}

.form-grp {
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
}

.form-grp input, .form-grp textarea {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

textarea {
  resize: vertical;
}

.form-style {
  border: none;
  outline: none;
}

button[type='submit'] {
  width: 100%;
  border: 1px solid white;
  outline: none;
  padding: 15px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  transition: .3s ease background-color;
}

button[type='submit']:hover {
  background-color: rgba(255, 255, 255, 0.253);
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: rgb(107, 233, 107);
  color: white;
  animation: status 4s ease forwards;
}

#status.error {
  background-color: rgb(241, 96, 70);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@media all and (min-width: 600px) {
  button[type='submit'] {
    width: 50%;
  }
}
/*---------- CONTACT FORM STYLE END ----------*/


