* {
  box-sizing: border-box;
}


/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  
  padding: 10px 0 10px 0;
  background-color: rgb(204, 186, 138);
  text-align: center;
  color: whitesmoke;

  /*
  height: 350px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7%;

  
  background-image: url(assets/images/exterior/arial-wideshot-lookingdown-backyard-water-dock.png);

  background-image: url(assets/images/exterior/sunny-front-yard-lookingEast-southsideofHouse.png);
  
  background-image: url(assets/images/exterior/arial-wideshot-overwater-towardsHouse.png);
  */
  
}

nav {
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: rgba(233, 229, 217, 0.39);
  text-align: center;
}

main {
  background-color: whitesmoke;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}

section {
	padding: 10px;
  margin: 10px;
  background-color: whitesmoke;
}

.welcome-grp {
  background-color: rgb(204, 186, 138);
}

.menu-options {
  max-width: 70%;
  margin-left: 8%;
}


li {
  margin: 10px;
  padding: 7px 18px 7px 18px;
  border-radius: 5px;
  border: 2px solid black;
}

/* ---- TEXT FORMATTTING ----------------- */


.accomodations-item p  {
  font-size: 22px;
  font-weight: bolder;
  color: rgb(245, 244, 240);
}

h1, h2, p {
  text-align: center;
}

nav {font-size: 12px;}

.welcome-message p {
  text-align: left;
  padding: 7px;
}

a {text-decoration: none;}
a:hover {color: whitesmoke;}
a:visited {color: black;}

/*---NAVIGATION ---*/

.menu-btn {
  padding: 10px 15px;
  background-color: rgb(204, 186, 138);
  color: whitesmoke;
  font-weight: bolder;
  font-size: 18px;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

button:hover {
  background-color:  rgb(238, 236, 229);
  color: rgb(36, 35, 35);
  border: 2px solid rgb(36, 35, 35);
}

li:hover {
  background-color: rgb(204, 186, 138);
  border: 2px solid whitesmoke;
}

/* -------- Slideshow container------- */
.container 
{ 
max-width: 1000px; 
position: relative; 
margin: auto; 
} 

/* Caption text */
.text 
{ 
color: #f2f2f2; 
font-size: 15px; 
padding: 20px 15px; 
position: absolute; 
right: 10px; 
bottom: 10px; 
width: 40%; 
background: rgba(0, 0, 0, .7); 
text-align: left; 
} 

/* The dots/bullets/indicators */
.dot 
{ 
height: 15px; 
width: 15px; 
margin: 0 2px; 
background-color: transparent; 
border-color: #ddd; 
border-width: 5 px; 
border-style: solid; 
border-radius: 50%; 
display: inline-block; 
transition: border-color 0.6s ease; 
} 

.active 
{ 
border-color: #666; 
} 

/* Animation */
.fade 
{ 
-webkit-animation-name: fade-image; 
-webkit-animation-duration: 1.5s; 
animation-name: fade-image; 
animation-duration: 1.5s; 
} 

@-webkit-keyframes fade-image 
{ 
from {opacity: .6} 
to {opacity: 1} 
} 

@keyframes fade-image 
{ 
from {opacity: .6} 
to {opacity: 1} 
} 

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) 
{ 
.text {font-size: 11px} 
} 

/*-- pictures --- */

.hero-img img {
  width: 100%;
  height: auto;
}

.bedrooms-img {
  width: 100%;
  background: url(assets/images/interior/master1.png) no-repeat center center;
  background-size: cover;
}
    
.activities-img {
  width: 100%;
  background: url(assets/images/dock-water/boysPlaying-inWater.jpeg)no-repeat center center;
  background-size: cover;
}

.area-img {
  width: 100%;
  background: url(assets/images/dock-water/arial-wideshot-surroudingTrees.jpeg) no-repeat center center;
  background-size: cover;
}

/*-------- Flexbox Modifier Styles --------*/

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-grp {
  display: flex; 
  flex-direction: column;
}

.welcome-item {
  flex: 1;
  margin:10px; 
  display: flex;
  flex-direction: column;
}

.welcome-message {
  color: whitesmoke;
  flex: 1;
  background-color: rgba(245, 245, 245, 0.034);
  border: 2px solid whitesmoke;
}

.welcome-item-detail {
  color: whitesmoke;
  height: 200px;
  margin-bottom: 10px;
  background-color: rgba(245, 245, 245, 0.082);
  border: 2px solid whitesmoke;
}

.accomodations-grp {
  display: flex; 
  flex-direction: column;
  height: 500px;
}

.accomodations-item {
  margin: 0 0 5px 0;
  flex: 1;
  background-color: whitesmoke;
  
}



.item-double {
  flex: 2;
  margin: 10px;
}


/* Contact Form Design */

form label {
  display: block;
  font-family: 'Work Sans', sans-serif;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

.submit-btn {
  padding: 10px 20px 10px 20px;

}

/* ----MEDIA QUERY --------------------------------*/

@media all and (min-width: 600px) {
  section {
    margin-left: 5%;
    margin-right: 5%;

  }

  .container {
    margin-left:5%;
    margin-right:5%;
  }

  .accomodations-grp {
    display: flex; 
    flex-direction: row;
    height: 250px;

  }

  .accomodations-item {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome-grp {
    display: flex; 
    flex-direction: row;
  }
  
  .menu-options {
    max-width: 100%;
    margin-left: 0;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}